p.heading {
  line-height: 1.2;
  font-size: 2em;
  text-align: center;
}

.wrapper {
  margin: 30px auto;
  max-width: 600px;
}
.dropdownbox {
  width: 250px;

  background: white;
  color: #252c41;
  cursor: pointer;
}

.dropdownbox > p {
  padding: 5px 10px;
  font-size: 1.25em;
  line-height: 1.4em;
  user-select: none;
  -moz-user-select: none;
  /* Safari */
  -khtml-user-select: none;
}

ul.menu {
  position: relative;
  margin: 0 auto;
  width: 400px;
  overflow: hidden;
  height: 0;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  /*-moz-transform:scale(0); */
  background: white;
  color: #252c41;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  /* Safari */
  -khtml-user-select: none;
}

ul.menu li {
  list-style: none;
  padding: 2px 10px;
  font-size: 1em;
  line-height: 1.4em;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-bottom: 1px dotted rgb(254, 238, 223);
}
ul.menu li:hover {
  padding-left: 20px;
  color: rgb(129, 111, 127);
  background: rgb(254, 238, 223);
}

.menu.showMenu {
  /*-moz-transform:scale(1);*/
  height: 165px;
}
